#title
{
	text-align:center;
	width: 100%
	display:block;
	margin: auto;
}

#textbox
{
	position: relative;
	width: 850px;
	margin: 0 auto;
	text-align:center;
	font-family: Ostrich Sans, sans-serif;
	
}

#text
{
	font-size: 110%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
	
}

#raisedbox
{ 
	position: relative;
	width: 550px;
	margin: 0 auto;
	text-align:center;
	padding: 10px;
    border: 1px solid #837E7C;
    box-shadow:  -1px 1px #837E7C,
         -2px 2px #837E7C,
         -3px 3px #837E7C,
         -4px 4px #837E7C,
         -5px 5px #837E7C,
         -6px 6px #837E7C,
         -7px 7px #837E7C,
         -8px 8px #837E7C,
         -9px 9px #837E7C;
}

#raisedboxtext
{
	font-size: 100%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
}


#parametersummary
{
	position: relative;
	width: 650px;
	margin: 0 auto;
	text-align:center;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
	background: #d3d3d3;
	font-family: Ostrich Sans, sans-serif;
}

#textparam
{
	font-size: 85%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
}

#Rcode
{
	position: relative;
	width: 750px;
	margin: 0 auto;
	text-align:center;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
	background: #d3d3d3;
	font-family: Ostrich Sans, sans-serif;
}

#textRcode
{
	font-size: 75%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
}


#image
{
	text-align:center;
	width: 100%
	display:block;
	margin: auto;
}



#parameterclass
{
	text-align:center;
	font-size: 150%;
	display:block;
	margin: auto;
	font-weight: bold;
	font-family: Ostrich Sans, sans-serif;
}

#homepage
{
	text-align: center;
	font-size: 160%;
	padding-top: 25px;
	font-family: Ostrich Sans, sans-serif;
}