#title
{
	text-align:center;
	width: 100%
	display:block;
	margin: auto;
}

#textbox
{
	position: relative;
	width: 850px;
	margin: 0 auto;
	text-align:center;
	font-family: Ostrich Sans, sans-serif;
	
}
	

#text
{
	font-size: 110%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
	
}


#parametersummary
{
	position: relative;
	width: 650px;
	margin: 0 auto;
	text-align:center;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
	background: #d3d3d3;
	font-family: Ostrich Sans, sans-serif;
}

#textparam
{
	font-size: 85%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
}

#Rcode
{
	position: relative;
	width: 650px;
	margin: 0 auto;
	text-align:center;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
	background: #d3d3d3;
	font-family: Ostrich Sans, sans-serif;
}

#textRcode
{
	font-size: 80%;
	text-align: left;
	font-family: Ostrich Sans, sans-serif;
}


#image
{
	text-align:center;
	width: 100%
	display:block;
	margin: auto;
}



#parameterclass
{
	text-align:center;
	font-size: 150%;
	display:block;
	margin: auto;
	font-weight: bold;
	font-family: Ostrich Sans, sans-serif;
}

#homepage
{
	text-align: center;
	font-size: 160%;
	padding-top: 25px;
	font-family: Ostrich Sans, sans-serif;
}