#title
{
	text-align:center;
	width: 100%
	display:block;
	margin: auto;
}

#parameterclass
{
	text-align:center;
	font-size: 150%;
	display:block;
	margin: auto;
	font-weight: bold;
	font-family: Ostrich Sans, sans-serif;
}

#homepage
{
	text-align: center;
	font-size: 160%;
	padding-top: 25px;
	font-family: Ostrich Sans, sans-serif;
}

.main_parameter
{
	font-weight: bold;
	font-family sans-serif, "Arial Black";
	font-size: 120%;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	font-family: Ostrich Sans, sans-serif;	
}

.subparameter
{
	font-weight: bold;
	font-size: 130%;
	text-align: center;
	font-family: Ostrich Sans, sans-serif;	
}

.file
{
	font-weight: bold;
	font-family: Ostrich Sans, sans-serif;	
	font-size: 130%;
}

.columnheadings
{
	font-family: Ostrich Sans, sans-serif;	
	font-size: 90%;
}

#LDPicture
{
	text-align: center; 
}

#mme
{
	text-align: center; 
}


.fulldescription
{
	padding: 30px;
	font-size: 110%;
	font-family: Ostrich Sans, sans-serif;
}

.headingfulldescription
{
	text-align: center;
	font-weight: bold;
	font-family: Ostrich Sans, sans-serif;
	font-size: 120%;
}

.parameter
{
	text-align: left;
	padding-left: 30px;
	font-weight: normal;
	text-decoration: none;
	padding-bottom: 5px;
	font-family: Ostrich Sans, sans-serif;
}

.Options
{
	padding-left: 40px;
	font-family: Ostrich Sans, sans-serif;
}

.OptionsLongMethod
{
	padding-left: 20px;
	font-family: Ostrich Sans, sans-serif;
}

.Note
{
	padding-left: 40px;
	font-family: Ostrich Sans, sans-serif;	
}
