<!DOCTYPE html>
<html>
	<head> 
     	<meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/homepage.css">
     	<title> GenoDiver Livestock Simulation Software </title>
     	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110857544-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110857544-1');
		</script>
   	</head> 
   		
    <body>
   	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;  
   			<a href = ""> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = "outputfiles.html"> Output Files </a> &emsp;
   			<a href = "examples.html"> Examples </a> 
   		</div>
   	</div>
   	
	<div id = "main">
		<h2> Why Geno-Diver </h2>
		<p>
			A variety of disciplines including conservation (McMahon et al. 2014), animal and plant breeding (De los Campos et al. 2013) and human genetics (Yang et al. 2010) 
			are currently making use of large volumes of genetic marker information. In particular, within animal and plant breeding programs the use of genomic information to 
			predict the genetic merit of individuals has become a routine practice (Jonas & Koning 2015; Morrell et al. 2012). This has resulted in a significant increase in the 
			number of individuals within a herd/population having genomic information. <b>Nonetheless, the ability to use this information to efficiently manage agricultural 
			populations at the genomic level, both for preserving genetic diversity and lessening in breeding depression, remains a challenge for the near future. </b> Although the
			identification of lethal mutations of large effect segregating within livestock	populations with genomic data is possible (VanRaden et al. 2011), optimal mating 
			procedures that minimize the frequency of a large number of lethal and more importantly sublethal mutations across generations have not been fully implemented. As 
			the popularity of genotyping breeding individuals increases across species, the possibility to utilize genomic information from multiple sources to manage genomic 
			information will also increase. Methods that make effective use of information from multiple sources including performance, genome diversity and inbreeding load at 
			the selection and/or mating step are in increasing need. The routine genotyping of individuals is a significant investment from several sectors of agriculture and the 
			need to spread the costs across multiple avenues are of considerable practical interest.
		</p>
		
		<p>
			The use of simulation is a low cost alternative to assess and validate proposed methods to predict genetic values or to compare alternative selection or mating strategies 
			across time. A number of simulation programs have been developed that simulate breeding livestock/crops populations, but they primarily focus on testing strategies where 
			the genetic architecture is based solely on a quantitative trait governed by additive effects (Sargolzaei & Schenkel 2009; Hickey et al. 2012; Cheng et al. 2015; Prez-Enciso &
			Legarra 2016). Currently there is no single self contained software that can simulate complex traits involving both quantitative and fitness components along with the ability to 
			generate complex pedigrees and genomic information ranging from sparse marker to sequence information. Consequently, determining how various selection and management practices impact 
			the fitness and the overall genomic variability of a population undergoing selection for a quantitative trait remains challenging. Furthermore, the precise genetic architecture of 
			complex traits is largely unknown although in general it is assumed that complex traits are affected by variation in a large number of genes, most of which have individually minor 
			effects (Weiss 2008). Knowledge on the demographic history of a population and the extent of linkage disequilibrium is also being generated from dense marker panels or sequence 
			information (McKay et al. 2007; Ai et al. 2013; Porto-Neto et al. 2014). As more information is generated on the genetic architecture of complex traits and variation across the 
			genome, simulation can be employed to more effectively predict how current selection and management practices will impact future generations.
		<p>
	</div>
	
	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>	
	
</body>
</html>

