<!DOCTYPE html>
<html>
	<head> 
     	<meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/homepage.css">
   	</head> 
   		
    <body>
   	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;  
   			<a href = "about.html"> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = "outputfiles.html"> Output Files </a> &emsp;
   			<a href = ""> Examples </a> 
   		</div>
   	</div>
   	
	<div id = "main">
		<h2> Parameters </h2>
		<p> 
			Below are multiple example that serve as a guide to how to run the program and some of the options available.
		</p>
		
		<div id = "parameternavigation" > 
   			<a href="Example1.html"> Example 1: </a> Running the program. <br> 
			<a href="Example2.html"> Example 2: </a> Multiple Progeny Quantitative Trait. <br>
			<a href="Example3.html"> Example 3: </a> Differential Sire Contribution by Age. <br>
			<a href="Example4.html"> Example 4: </a> Simulating a Fitness Trait. <br>
			<a href="Example5.html"> Example 5: </a> Simulating a Fitness and Quantitative Trait. <br>
			<a href="Example6.html"> Example 6: </a> Comparing Different EBV Prediction Methods. <br>
			<a href="Example7.html"> Example 7: </a> Truncating Animals. <br>
			<a href="Example8.html"> Example 8: </a> Quantitative Trait Minimize Inbreeding. <br>
			<a href="Example9.html"> Example 9: </a> Overview of Summary Statistics. <br>
		</div>
	</div>
	
	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>	
	
</body>
</html>

