<!DOCTYPE html>
<html>
	<head> 
    	 <meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/examples.css">
     	<title> GenoDiver Livestock Simulation Software </title>
     	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110857544-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110857544-1');
		</script>
   	</head> 
	<body>

	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>	
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;
   			<a href = "about.html"> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = "outputfiles.html"> Output Files </a> &emsp;
   			<a href = "examples.html"> Examples </a>
   		</div>
   	</div>
	<br>
		
	<div id = "parameterclass">
	 	<font color="black"> Quantitative Trait Minimize Inbreeding. </font>
	</div>	 	
	<br> <br>

	<div id = "textbox">
		<div id = "text">
	 		&emsp; Similar to the previous example, a bash script is outlined below that illustrates the impact of different mating designs on the inbreeding 
	 		levels in the progeny. A total of four mating design methods are simulated and include random, random125, minPedigree and minGenomic. A total of 
	 		5 replicates were generated. After a scenario is done the directory where the replicates are saved is renamed within the bash script.
	 		<br> <br>	  
		</div>
	</div>
	<div id = "raisedbox">
		<div id = "raisedboxtext">
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## First generate parameter file. Put parameters to change at the very </font> <br>
			<font color="#00FFFF">## bottom of the file. That way you can use the 'head' linux command </font> <br>
			<font color="#00FFFF">## for the parameters that change and use the 'echo' linux command to </font> <br>
			<font color="#00FFFF">## add any new parameters. </font> <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## In case 8_Example.txt is still a file ## </font> <br>
			rm <font color="#FFB6C1">-rf </font> 8_Example8.txt || TRUE <br>
			<font color="#00FFFF"># Parameters that are the same #</font> <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">-| General |-</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">SEED: 1500</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">NREP: 5</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">−| Genome & Marker |−</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">CHR: 3</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">CHR_LENGTH: 150 150 150</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">NUM_MARK: 3000 3000 3000</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">QTL: 200 200 200</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">−| Population |−</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">FOUNDER_Effective_Size: Ne70</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">MALE_FEMALE_FOUNDER: 50 500 random 5</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">VARIANCE_A: 0.45</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">VARIANCE_D: 0.05</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">−| Selection |−</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">GENERATIONS: 20</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">INDIVIDUALS: 50 0.2 500 0.2</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">PROGENY: 1</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">SELECTION: ebv high</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">EBV_METHOD: pblup</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">CULLING: ebv 8</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br> <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## First do random</font>  <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">START: sequence</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">MATING: random</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#00FFFF">## Run GenoDiver ##</font>  <br>
			./GenoDiver 8_Example8.txt <br>
			<font color="#00FFFF">## rename replicate output to rep_pblup ##</font>  <br>
			mv ./GenoDiverFiles/replicates ./GenoDiverFiles/reps_random <br> <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## Then do random125</font>  <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## Remove paramters that are changing ##</font>  <br>
			head <font color="#FFB6C1">-n 20</font> 8_Example8.txt > 8_Example8a.txt <br>
			mv ./8_Example8a.txt ./8_Example8.txt <br>
			<font color="#00FFFF">## echo in new paramters ##</font>  <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">START: founder</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">MATING: random125 simu_anneal</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#00FFFF">## Run GenoDiver ##</font>  <br>
			./GenoDiver 8_Example8.txt <br>
			<font color="#00FFFF">## rename replicate output to rep_pblup ##</font>  <br>
			mv ./GenoDiverFiles/replicates ./GenoDiverFiles/reps_random125 <br> <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## Then do minPedigree</font>  <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## Remove paramters that are changing ##</font>  <br>
			head <font color="#FFB6C1">-n 20</font> 8_Example8.txt > 8_Example8a.txt <br>
			mv ./8_Example8a.txt ./8_Example8.txt <br>
			<font color="#00FFFF">## echo in new paramters ##</font>  <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">START: founder</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">MATING: minPedigree simu_anneal</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#00FFFF">## Run GenoDiver ## </font> <br>
			./GenoDiver 8_Example8.txt <br>
			<font color="#00FFFF">## rename replicate output to rep_pblup ##</font>  <br>
			mv ./GenoDiverFiles/replicates ./GenoDiverFiles/reps_minPedigree <br> <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## Then do minGenomic</font>  <br>
			<font color="#00FFFF">##-------------------------------------------------------------------- </font> <br>
			<font color="#00FFFF">## Remove paramters that are changing ##</font>  <br>
			head <font color="#FFB6C1">-n 20</font> 8_Example8.txt > 8_Example8a.txt <br>
			mv ./8_Example8a.txt ./8_Example8.txt <br>
			<font color="#00FFFF">## echo in new paramters ##</font>  <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">START: founder</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#FFFF00">echo '</font><font color="#6A5ACD">MATING: minGenomic simu_anneal</font><font color="#FFFF00">' >> </font> 8_Example8.txt <br>
			<font color="#00FFFF">## Run GenoDiver ##</font>  <br>
			./GenoDiver 8_Example8.txt <br>
			<font color="#00FFFF">## rename replicate output to rep_pblup ##</font>  <br>
			mv ./GenoDiverFiles/replicates ./GenoDiverFiles/reps_minGenomic <br>
			</div>
	</div>
	
	<br> <br>
	
	<div id = "parametersummary">
		<b> Parameter File Summary </b> <br>
		<div id = "textparam">
			&emsp; Sequence information is generated for three chromosomes with a length of 150 Megabases. The genome simulated has a high degree of 
			short-range LD (Ne70). The SNP panel contains 9,000 markers (i.e. 3,000 markers per chromosome). For each chromosome, 200 randomly 
			placed QTL and zero FTL mutations were generated. The narrow and broad sense heritability for the trait is 0.45 and 0.50, 
			respectively. The phenotypic variance is by default set at 1.0, and therefore the residual variance is 0.5. The founder population consisted 
			of 50 males and 500 females. For each generation, a total of 50 males and 500 females are in the population. A total of 10 and 100 (0.2 
			replacement rate) male and female parents, respectively, are culled and replaced by new progeny each generation. Random selecton of progeny 
			and culling of parents was conducted for 5 generations. After 5 generations, animals with a high EBV were selected or culled each generation. 
			The EBV are estimated using a pedigree-based BLUP utilizing all the animals. Each mating pair produced one progeny. Parents were mated at random, 
			avoided matings on parents with relationships greater than 0.125, minimized parental pedigree relationship, or minimized parental genomic 
			relationships. Other than random, matings were optimized based on the simulated annealing method. <br>
		 </div>
	</div>
	<br> <br>
	
	<div id = "textbox">
		<div id = "text">
			&emsp; Similar to Example 6, the important files are saved within the renamed replicate folder within each scenario. The replicate number is appended to the file name.
			The bash script above renames the replicate directories to "reps_random", "reps_random125", "reps_minPedigree", "reps_minGenomic " for the random, random125, minPedigree 
			and minGenomic, respectively. <br> <br>
			&emsp; Outlined below is a more detailed explanation of the major differences in the mating designs across the different scenarios:
			<ul>
  				<li> <font color="Navy">random</font>: Parents are mated at random. </li>
  				<li> <font color="Navy">random125</font>: In order to avoid the mating of closely related animals, parents with a relationship greater than 0.125 were avoided. Any 
  				relationship that is below this value was changed to a value of zero and as a result mating was done at random. The log file provides information on how many 
  				matings were initially over the 0.125 threshold prior to the simulated annealing optimization method and after optimization was conducted. </li>
  				<li> <font color="Navy">minPedigree</font>: The average pedigree-based relationship between parents was minimized across all parents using the simulated 
  				annealing optimization method. Similar to random125, the average parental pedigree-based relationship prior to and after optimization is outlined in the log file. </li>
  				<li> <font color="Navy">minGenomic</font>: The average genomic-based relationship between parents was minimized across all parents using the simulated 
  				annealing optimization method. Similar to random125, the average parental genomic-based relationship prior to and after optimization is outlined in the log file.  </li>
			</ul>	 
			
			&emsp; Utilizing the R code outlined below the following plot was generated to illustrate how to loop through each scenario and generate plots
			that describe the impact of a mating design on the level of pedigree and genomic inbreeding. As outlined below genomic information allows for one to 
			estimate the relationships between the founders that are assumed unrelated with pedigree information. As a result a large drop in genomic inbreeding is seen 
			when minimizing with genomic information compared to pedigree-based information. <br>
		</div>
	</div>
	
	<br>
	<div id = "Rcode">
		<b> R-Code </b> <br>
		<div id = "textRcode">
			rm(list=ls()); gc() <br>
			library(ggplot2) <br>
			wd <- "/Users/jeremyhoward/Desktop/C++Code/SamplingGamates/17_GenoDiver_V2/GenoDiverFiles/" ## Change <br>
			## the directory name for each scenario ## <br>
			scen <- c("reps_random","reps_random125","reps_minPedigree","reps_minGenomic") <br>
			## Number of replicates simulated ## <br>
			reps <- c(1500:1504) <br> <br>
			############################################################################### <br>
			## Loop through and grab pedigree inbreeding across scenarios and replicates ## <br> 
			############################################################################### <br>
			for(i in 1:length(scen))<br>
			{ <br>
  			&emsp; for(j in 1:length(reps)) <br>
  			&emsp; {<br>
  			&emsp; &emsp; filename <- paste(wd,scen[i],"/Summary_Statistics_DataFrame_Inbreeding_",reps[j],sep="")  <br>
    		&emsp; &emsp; df <- read.table(file=filename,header=TRUE,colClasses=c("numeric",rep("character",14))) # read in file <br>
    		&emsp; &emsp; df$Method <- unlist(strsplit(scen[i],"_"))[2]  # save method <br> 
    		&emsp; &emsp; df$Rep <- reps[j];  # save replicate <br>
    		&emsp; &emsp; df$Value <- matrix(unlist(strsplit(df[, 2],"\\(")),ncol=2,byrow=TRUE)[,1] # grab mean gv by generation <br>
    		&emsp; &emsp; if(j == 1 & i == 1){summarytable <- df[ ,c(16,17,1,18)]} <br>
    		&emsp; &emsp; if(j > 1 | i > 1){summarytable <- rbind(summarytable,df[ ,c(16,17,1,18)]);} <br>
  			&emsp;} <br>
			} <br>
			## generate mean and sd by generation and method <br>
			summarytable$Value <- as.numeric(paste(summarytable$Value)) <br>
			means <- aggregate(Value ~ Generation + Method, data=summarytable,FUN=mean) <br> 
			sds <- aggregate(Value ~ Generation + Method, data=summarytable,FUN=sd) <br>
			#################################################### <br>
			## Plot Inbreeding Trend across Different Methods ## <br>
			#################################################### <br>
			plotdf <- cbind(means,sds[,3]); rm(means,sds) <br>
			names(plotdf) <- c("Generation","Method","Mean","SD") <br>
			pd <- position_dodge(0.5) <br>
			ggplot(plotdf, aes(x=Generation, y=Mean, colour=Method)) + <br>
 			&emsp; geom_errorbar(aes(ymin=Mean-SD, ymax=Mean+SD), colour="black", width=.4, size = 0.5, position=pd) +
  			&emsp; geom_point(size=2.0) + geom_line(size=0.50) + theme_bw() + <br>
  			&emsp; labs(title = "Pedigree Inbreeding Trend \n (+/- 1 SD)", x = "Generation", y = "Mean Pedigree Inbreeding") + <br>
  			&emsp; theme(plot.title = element_text(size = 16,hjust = 0.5),axis.title = element_text(size = 12),legend.position="bottom",axis.text=element_text(size=10)) <br> <br>
			############################################################################### <br>
			## Loop through and grab pedigree inbreeding across scenarios and replicates ## <br>
			############################################################################### <br>
			for(i in 1:length(scen)) <br>
			{<br>
  			&emsp;for(j in 1:length(reps)) <br>
  			&emsp;{ <br>
    		&emsp; &emsp; filename <- paste(wd,scen[i],"/Summary_Statistics_DataFrame_Inbreeding_",reps[j],sep="") <br>
    		&emsp; &emsp; df <- read.table(file=filename,header=TRUE,colClasses=c("numeric",rep("character",14))) # read in file <br>
    		&emsp; &emsp; df$Method <- unlist(strsplit(scen[i],"_"))[2]  # save method <br>
    		&emsp; &emsp; df$Rep <- reps[j];  # save replicate <br>
    		&emsp; &emsp; df$Value <- matrix(unlist(strsplit(df[, 3],"\\(")),ncol=2,byrow=TRUE)[,1] # grab mean gv by generation <br>
    		&emsp; &emsp; if(j == 1 & i == 1){summarytable <- df[ ,c(16,17,1,18)]} <br>
    		&emsp; &emsp; if(j > 1 | i > 1){summarytable <- rbind(summarytable,df[ ,c(16,17,1,18)]);} <br>
  			&emsp;} <br>
			} <br>
			## generate mean and sd by generation and method <br>
			summarytable$Value <- as.numeric(paste(summarytable$Value)) <br>
			means <- aggregate(Value ~ Generation + Method, data=summarytable,FUN=mean) <br>
			sds <- aggregate(Value ~ Generation + Method, data=summarytable,FUN=sd) <br>
			#################################################### <br>
			## Plot Inbreeding Trend across Different Methods ## <br>
			#################################################### <br>
			plotdf <- cbind(means,sds[,3]); rm(means,sds) <br>
			names(plotdf) <- c("Generation","Method","Mean","SD") <br>
			pd <- position_dodge(0.5) <br>
			ggplot(plotdf, aes(x=Generation, y=Mean, colour=Method)) + <br>
			&emsp; geom_errorbar(aes(ymin=Mean-SD, ymax=Mean+SD), colour="black", width=.4, size = 0.5, position=pd) + <br>
  			&emsp; geom_point(size=2.0) + geom_line(size=0.50) + theme_bw() + <br>
  			&emsp; labs(title = "Genomic Inbreeding Trend \n (+/- 1 SD)", x = "Generation", y = "Mean Genomic Inbreeding") + <br>
  			&emsp; theme(plot.title = element_text(size = 16,hjust = 0.5),axis.title = element_text(size = 12),legend.position="bottom",axis.text=element_text(size=10))<br>
		</div>
	</div>
		
	<div id = "image">
		<p><img src="{{ site.baseurl }}/images/Example8Figures.png" ></p>
	</div>
				
	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>
	
	</body>
</html>

