<!DOCTYPE html>
<html>
<html>
	<head> 
    	 <meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/references.css">
     	<title> GenoDiver Livestock Simulation Software </title>
     	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110857544-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110857544-1');
		</script>
   	</head> 
	<body>

	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>	
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;
   			<a href = "about.html"> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = "outputfiles.html"> Output Files </a> &emsp;
   			<a href = "examples.html"> Examples </a>
   		</div>
   	</div>
	<br>
		
	<div class = "subparameter">
		  <font color="blue">Supplementary Files </font>
	</div>
	<br> 
	<div class="parameter">  	
		<div class="file">	
			CH*SNP.txt: <br>
		</div>
		- Haplotype sequence for each chromosome simulated from MaCS. <br>
	</div>
	<br>
	<div class="parameter">  	
		<div class="file">	
			MAP*.txt: <br>
		</div>
		- Map file corresponding to haplotypes sequence in CH*SNP.txt. <br>
	</div>
	<br>
	<div class="parameter">  	
		<div class="file">	
			FounderGenotypes: <br>
		</div>
		- Genotypes across chromosomes for each founder. The line number corresponds to the founder ID and the first column represents the row number of the two haplotypes that created the
		 genotype, followed by the genotype string. <br>
	</div>
	<br>
	<div class="parameter">  	
		<div class="file">	
			Pheno_Pedigree: <br>
		</div>
		- Used in constructing pedigree relationship matrix. <br>
	</div>
	<br>
	<div class="parameter">  	
		<div class="file">	
			SNPFreq: <br>
		</div>
		- Frequency of SNP across all chromosomes derived from MaCS. <br>
	</div>

	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>
	
	</body>
</html>


