<!DOCTYPE html>
<html>
	<head> 
     	<meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/homepage.css">
     	<title> GenoDiver Livestock Simulation Software </title>
     	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110857544-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110857544-1');
		  <meta name="thumbnail" content="{{ site.baseurl }}/images/GenoDiver.png" />
		</script>
   	</head> 
   		
    <body>
   
   	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>
   		
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;
   			<a href = "about.html"> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = "outputfiles.html"> Output Files </a> &emsp;
   			<a href = "examples.html"> Examples </a> 
   		</div>
   	</div>
   
	<div id = "main">
		<h2> Welcome to Geno-Diver v2.0.0 </h2>
		<br>
		Geno-Diver is a user-friendly software program designed to simulate complex traits and population structures that resemble livestock species. 
		Outlined below is a list of the major modules that are within the software: <br>	
		<ul>
			<li> Generate historical population with a range of linkage dis-equilibrium (LD) scenarios. </li>
			<li> Generate a trait with a quantitative (QTL) genetic architecture (i.e. average daily gain or height). </li>
			<li> Generate a trait with a fitness (FTL; lethal and/or sublethal) genetic architecture (i.e. survives to breeding age). </li>
			<li> Generate breeding values using pedigree or genomic BLUP or Bayesian marker effects models. </li>
			<li> Optimize matings based on inbreeding metrics, breeding values or a combination of both of them. </li>
			<li> Output the change in LD, homozygosity, number of lethals/sublethals across time, etc.. </li>
			<li> As time progresses, more modules will be introduced in order to stay in line with the current models and methods used in livestock breeding.
		</ul>
		The user manual can be downloaded at the following link: <a href="images/Geno-Diver Manual.pdf" download>User Manual</a>. The source and executable files can be found at the 
		<a href="https://github.com/jeremyhoward/Geno-Diver">Geno-Diver</a> github page. Lastly, a <a href="https://jeremyhoward.shinyapps.io/genodiverapp/"> Shiny App </a> 
		was developed and described in detail <a href="examples.html" > HERE </a> that allows for the user to quickly determine if the simulation is doing what is desired 
		based on the current parameter settings. <br>
		<h2> Why Geno-Diver </h2>
		<p>
			A variety of disciplines including conservation (McMahon et al. 2014), animal and plant breeding (De los Campos et al. 2013) and human genetics (Yang et al. 2010)
			are currently making use of large volumes of genetic marker information. In particular, within animal and plant breeding programs the use of genomic information to 
			predict the genetic merit of individuals has become a routine practice (Jonas & Koning 2015; Morrell et al. 2012). This has resulted in a significant increase in 
			the number of individuals within a herd/population having genomic information. <b>Nonetheless, the ability to use this information to efficiently manage agricultural 
			populations at the genomic level, both for preserving genetic diversity and lessening in breeding depression, remains a challenge for the near future. </b>
			<a href = "about.html"> More.... </a>
		</p>	
	</div>
	
	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>
		
</body>
</html>

