<!DOCTYPE html>
<html>
	<head> 
     <meta charset="utf-8">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/homepage.css">
   	 </head> 

	<div id = "title">
	  <p>
	  	Geno-Diver Simulation Software
	  </p>
	</div>
	
	<div id = "main">
	
		<div id = "wolfpicture">
			<p><img src="{{ site.baseurl }}/images/Homepage.png"></p>
		</div>
		<br> <br>

		<p class = "Overview">
			Geno-Diver is simulation program designed to simulate complex traits and population structures that resemble livestock populations. The primary difference between Geno-Diver and
	 	other simulation programs is that it is able to simulate traits with either a quantitative and/or fitness genetic architecture. In addition, multiple selection protocols and 
	 	mating design methods are utilized within the software. As time progresses more modules will be introduced in order to stay in line with the current models and methods used in 
	 	animal breeding.
		</p>
	</div>
	
	<div id="leftsidebar">
		<p class= "quickrefer" >
			<b> Reference Links </b> <br>
			
			<a href="{{ site.baseurl }}/QuickLinks/General.html">General</a> <br>

			Genome & Marker <br>
			QTL/FTL Distributions <br>
			Population Parameters <br>
			Selection Parameters <br>
			Mating Parameters <br>
			Output Options <br>
		</p>
	</div>

</body>
</html>

