<!DOCTYPE html>
<html>
	<head> 
     <meta charset="utf-8">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/homepage.css">
   	 </head> 

	<div id = "title">
	  <p>
	  		<p><img src="{{ site.baseurl }}/images/Geno_Diver_Logo.png" ></p>
	  </p>
	</div>
	
	<div id = "main">
	
		Geno-Diver is a software program designed to simulate complex traits and population structures that resemble livestock species. 
		Outlined below is a list of the major modules that are within the software: <br>	
		<ul>
			<li> Generate historical population with a range of linkage dis-equilibrium (LD) scenarios. </li>
			<li> Generate a trait with a quantitative (QTL) genetic architecture (i.e. average daily gain or height). </li>
			<li> Generate a trait with a fitness (FTL; lethal and/or sublethal) genetic architecture (i.e. survives to breeding age). </li>
			<li> Generate breeding values using pedigree or genomic BLUP or Bayesian marker effects models. </li>
			<li> Optimize matings based on inbreeding metrics, breeding values or a combination of both of them. </li>
			<li> Output the change in LD, homozygosity, number of lethals/sublethals across time, etc.. </li>
		</ul>
		As time progresses, more modules will be introduced in order to stay in line with the current models and methods used in animal breeding. <br> <br>
		
		At the current time we are transitioning from V1 to V2 of Geno-Diver. If you are downloading the executable from the github page some of the parameters have 
		changed and the manual from the github page should be used as a reference. <br> <br>
	
		Below are links to the various modules along with a description of the parameters and associated options:
		
		<ul>
			<li> <a href="general.html">General</a>: Parameters for initializing the program. </li>
			<li> <a href="genome_marker.html">Genome & Marker </a>: Parameters that specify genome/marker information. </li>
			<li> <a href="qtl_ftl_distributions.html"> QTL/FTL Distributions </a>: Parameters that specify distributions to generate QTL and FTL effects. </li>
			<li> <a href="population.html"> Population Parameters </a>: Parameters that specify the population LD and genetic parameters. </li>
			<li> <a href="selection.html"> Selection & Culling Parameters </a>: Parameters that specify breeding population structure. </li>
			<li> <a href="mating.html"> Mating Parameters </a>: Parameters that specify how parents are mated. </li>
			<li> <a href="OutputOptions.html"> Output Options </a>: Parameters that specify summary statistics to output. </li>
		</ul>
	</div>
	<br> <br> <br>
	<div id = "titleExamples">
	  <p>
	  		Simulation Scenario Examples
	  		<hr width="550" color = black size = 3px>
	  </p>
	</div>
	
	<div id = "examples">
		<ul>
			<li> <a href="Example1.html"> Example 1: </a> Running the program.</li> 
			<li> <a href="Example2.html"> Example 2: </a> Multiple Progeny Quantitative Trait.</li>
			<li> <a href="Example3.html"> Example 3: </a> Differential Sire Contribution by Age. </li>
			<li> <a href="Example4.html"> Example 4: </a> Simulating a Fitness Trait. </li>
			<li> <a href="Example5.html"> Example 5: </a> Simulating a Fitness and Quantitative Trait. </li>
			<li> <a href="Example6.html"> Example 6: </a> Comparing Different EBV Prediction Methods. </li>
			<li> <a href="Example7.html"> Example 7: </a> Truncating Animals. </li>
			<li> <a href="Example8.html"> Example 8: </a> Quantitative Trait Minimize Inbreeding. </li>
			<li> <a href="Example9.html"> Example 9: </a> Overview of Summary Statistics. </li>
		
			</ul>	
	</div>
	
	<br> <br>
	<div id = "title">
	  <p>
	  		<p><img src="{{ site.baseurl }}/images/Logos.pdf" ></p>
	  </p>
	</div>
	
	
</body>
</html>

