<!DOCTYPE html>
<html>
	<head> 
     	<meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/homepage.css">
     	<title> GenoDiver Livestock Simulation Software </title>
     	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110857544-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110857544-1');
		</script>
   	</head> 
   		
    <body>
   	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;  
   			<a href = "about.html"> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = ""> Output Files </a> &emsp;
   			<a href = "examples.html"> Examples </a>
   		</div>
   	</div>
   	
	<div id = "main">
		<h2> Output Files </h2>
		<div id = "parameternavigation" > 
   			<a href = "FileSummaries.html"> Data Files </a> <br>
   			<a href = "FileSummaries1.html"> Summary Statistic Files </a> <br>
   			<a href = "FileSummaries2.html"> Supplementary Files </a> <br>
		</div>
	</div>
	
	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>	
	
</body>
</html>

