<!DOCTYPE html>
<html>

	<head> 
     <meta charset="utf-8">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/references.css">
   	 </head> 

	<div id = "title">
	  <p>
	  		<p><img src="{{ site.baseurl }}/images/Geno_Diver_Logo_Small.png" ></p>
	  </p>
	</div>
	
	<div id = "parameterclass">
	 	<font color="black"> QTL/FTL Distribution Parameters </font>
	</div> 	

	<div class = "main_parameter">
	  	ADD_QUAN
	</div>
	<div class="parameter">  	
	  	- Description: The parameters for the gamma distribution that generate the un-scaled additive effect for QTL. The effects are scaled such that the sum of the QTL variances in the founder population is equivalent to the proportion of the variance that is due to the additive gene action specified. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">Shape</font>: Shape of gamma distribution. <br>
			- <font color="blue">Scale</font>: Scale of gamma distribution. <br>
		</div>
	  	- Usage: '<font color="darkgreen">ADD_QUAN: 0.4 1.66</font>'. <br>
		- Type: Optional. Default is 0.4 1.66. <br>
	</div>
	
	<div class = "main_parameter">
	  	DOM_QUAN
	</div>
	<div class="parameter">  	
	  	- Description: The parameters for the normal distribution that generate the degree of dominance (h) for QTL. The effects are scaled such that the sum of the QTL variances in the founder population is equivalent to the proportion of the variance that is due to dominant gene action specified. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">Mean</font>: Mean of a normal distribution. <br>
			- <font color="blue">Standard Deviation (SD)</font>: SD of a normal distribution. <br>
		</div>
	  	- Usage: '<font color="darkgreen">DOM_QUAN: 0.1 0.2</font>'. <br>
		- Type: Optional. Default is 0.1 0.2. <br>
	</div>
	
	<div class = "main_parameter">
	  	LTHA
	</div>
	<div class="parameter">  	
	  	- Description: The parameters for the gamma distribution that generate the selection coefficients for lethal FTL. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">Shape</font>: Shape of gamma distribution. <br>
			- <font color="blue">Scale</font>: Scale of gamma distribution. <br>
		</div>
	  	- Usage: '<font color="darkgreen">LTHA: 70.0 0.01</font>'. <br>
		- Type: Optional. Default is 70.0 0.01. <br>
	</div>
	
	<div class = "main_parameter">
	  	LTHD
	</div>
	<div class="parameter">  	
	  	- Description: - The parameters for the normal distribution that generate the degree of dominance for the lethal FTL. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">Mean</font>: Mean of a normal distribution. <br>
			- <font color="blue">Standard Deviation (SD)</font>: SD of a normal distribution. <br>
		</div>
	  	- Usage: '<font color="darkgreen">LTHD: 0.001 0.0001</font>'. <br>
		- Type: Optional. Default is 0.001 0.0001. <br>
	</div>
	
	<div class = "main_parameter">
	  	SUBA
	</div>
	<div class="parameter">  	
	  	- Description: - The parameters for the gamma distribution that generate the selection coefficients for sublethal FTL. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">Shape</font>: Shape of gamma distribution. <br>
			- <font color="blue">Scale</font>: Scale of gamma distribution. <br>
		</div>
	  	- Usage: '<font color="darkgreen">LTHD: 0.1 0.2</font>'. <br>
		- Type: Optional. Default is 0.1 0.2. <br>
	</div>	
		
	<div class = "main_parameter">
	  	SUBD
	</div>
	<div class="parameter">  	
	  	- Description: - The parameters for the normal distribution that generate the degree of dominance for sublethal FTL. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">Mean</font>: Mean of a normal distribution. <br>
			- <font color="blue">Standard Deviation (SD)</font>: SD of a normal distribution. <br>
		</div>
	  	- Usage: '<font color="darkgreen">LTHD: 0.3 0.1</font>'. <br>
		- Type: Optional. Default is 0.3 0.1. <br>
	</div>	
	
	<div class = "main_parameter">
	  	COVAR
	</div>
	<div class="parameter">  	
	  	- Description: - Determines the relationship between the additive effect of the quantitative trait and selection coefficient for the sub-lethal trait. The relationship is a function of the number of QTL that is both quantitative and sub-lethal and the rank correlation between the effects. A complete description is outlined <a href="/qtl_ftl_completesummary.html">HERE</a>. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- <font color="blue">double (0.0-1.00)</font>: Proportion of Pleiotropic QTL: Proportion of QTL that are both quantitative and sub-lethal. <br>
			- <font color="blue">double (0.0-1.00)</font>: Genetic correlation: The rank correlation between QTL effects. <br>
		</div>
	  	- Usage: '<font color="darkgreen">COVAR: 0.5 0.2</font>'. <br>
		- Type: Optional. Default is 0.0 0.0. <br>
		- Note:  <br>
		<div class="Note">
	  	Care needs to be taken to generate the desired relationship between the quantitative and fitness trait. Fitness values range from 0 to 1 and higher values leading to a lower fitness value. If the two traits are antagonistic under the scenario of high values being favorable, the correlation should be positive. One just needs to change the favorable direction of the quantitative trait to alter the interpretation. <br>
	  	</div>
	</div>	
	
	
	<div id = "homepage">
		<a href="/">Home Page</a>
	</div>
	
	
	
</html>

