<!DOCTYPE html>
<html>
	<head> 
    	 <meta charset="utf-8">
     	<link rel="stylesheet" href="{{ site.baseurl }}/css/references.css">
     	<title> GenoDiver Livestock Simulation Software </title>
     	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110857544-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110857544-1');
		</script>
   	</head> 
	<body>

	<div id = "header" >
   		<div id = "maintitle" >  GenoDiver </div>
   		<div id = "subtitle" > A Coalescent Forward in Time Simulation Toolkit </div>	
   		<div id = "navigation" > 
   			<a href = "index.html"> Home </a> &emsp;
   			<a href = "about.html"> About </a> &emsp;      
   			<a href = "parameters.html"> Parameters </a> &emsp;
   			<a href = "outputfiles.html"> Output Files </a> &emsp;
   			<a href = "examples.html"> Examples </a>
   		</div>
   	</div>
	<br>
	<div id = "parameterclass">
	 	<font color="black"> Output Option Parameters </font>
	</div>	 	

	<div class = "main_parameter">
	  	OUTPUT_LD
	</div>
	<div class="parameter">  	
	  	- Description: - Determines if the linkage dis-equilibrium decay based on the r2 metric for each generation across the genome and surrounding QTL is calculated each generation.<br>
	  	- Option: yes or no. <br>
	  	- Usage: '<font color="darkgreen">OUTPUT_LD: no</font>'. <br>
		- Type: Optional. Default is no <br>
	</div>
	
	<div class = "main_parameter">
	  	GENOTYPES
	</div>
	<div class="parameter">  	
	  	- Description: - Determines whether genotypes are saved and at what generation to begin saving them. <br>
	  	- Options: - No or yes and if yes provide the generation at which to start exporting genotypes. Generation 0 is founder population. <br>
	  	- Usage: '<font color="darkgreen">GENOTYPES: yes 0</font>'. <br>
		- Type: Optional. Default is yes and starting at generation 0. <br>
	</div>
	
	<div class = "main_parameter">
	  	GENOME_ROH
	</div>
	<div class="parameter">  	
	  	- Description: - Calculates the proportion of the genome in a ROH for each individual. Also the frequency of a SNP being in a ROH and the length of ROH the SNP is contained in is calculated across the genome for a specified generation number. <br>
	  	- Options:  <br>
	  	<div class="Options">
	  		- ROH cutoff: <br>
	  		&emsp; - <font color="blue">Mb (integer)</font>: ROH cutoff in Megabases. <br>
	  		- Generation number(s) ROH frequency and length are calculated: <br>
	  		&emsp; - <font color="blue">Generation (integer)</font>: The generations that the ROH statistics across the genome are calculated. Each generation is separated by a space. <br>
	  	</div>
	  	- Usage: '<font color="darkgreen">GENOME_ROH: 5 5 10 15</font>'. <br>
		- Type: Optional. <br>
	</div>
	
	<div class = "main_parameter">
	  	WINDOWQTLVAR
	</div>
	<div class="parameter">  	
	  	- Description: - Calculates the additive (&sum;2pq[a + d(q − p)]<sup>2</sup>) and dominance (&sum;(2pqd)<sup>2</sup>) variance within 1Mb non-overlapping windows for each generation. <br>
	  	- Option: yes or no. <br>
	  	- Usage: '<font color="darkgreen">WINDOWQTLVAR: no</font>'. <br>
		- Type: Optional. Default is no <br>
	</div>
	
	<div class = "main_parameter">
	  	TRAINREFER_STATS
	</div>
	<div class="parameter">  	
	  	- Description: - For each generation selection has occurred, the estimated breeding value (EBV) along with their associated true breeding value (TBV) are outputted to a file for the parents and selection candidates. The output can be used to generate the accuracy and bias of EBV across generations. <br>
	  	- Option: yes or no. <br>
	  	- Usage: '<font color="darkgreen">TRAINREFER_STATS: no</font>'. <br>
		- Type: Optional. Default is no <br>
	</div>
	
	<div id ="genodiverimage">
	  <p> <img src="{{ site.baseurl }}/images/GenoDiver.png" > </p>
	</div>
	
	</body>
</html>